.wrapper
{
}
nav {
	font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 400;
	font-size: 1.125rem;
	/*text-transform: uppercase;*/

	padding: 1rem;
	color: rgba(255, 255, 255, 1);
	z-index: 50;
	display: block;
	backdrop-filter: blur(5px);
	background-color: rgba(0, 0, 0, 1);
	/*-webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.25);
	-moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.25);
	box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.25);
*/
}
.sticky {
	position: sticky;
	top: 0;
}
.nav {
	gap: 2rem;
	justify-content: center;
}
.nav .nav-list a img {
	width: 2rem;
}
.nav .nav-list {
	align-items: center;
	gap: 2rem;
}
.nav .nav-list a {
	margin: 0;
	line-height: 1;
	font-size: 16px;
}
.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.flex {
	display: flex;
}
.section
{
	height: calc(100vh - 200px);
	width: 100%;
	background-color: #02b875;
	animation: change-color-anim 20s linear infinite;
}
footer
{
	height: 20rem;
	padding: 50px 0;
	background-color: #02b875;
	animation: change-color-anim 20s linear infinite;
}

@keyframes change-color-anim {
	0%, 100%{
		background-color: #02b875;
	}
	25%, 75% {
		background-color: #00ab84;
	}
	50%{
		background-color: #009c8f;
	}
}
footer .footer-logo
{
	width: 200px;
}
footer a {
	color: rgba(255, 255, 255, 1.0) ;
}